.item-add-form * {
	position: relative;
}
.item-add-form {
	margin-top: 15px;
}
.item-add-form button {
	position: relative;
	padding: 10px 15px;
	font-size: 16px;
	outline: none;
	background: #fff;
	color: #000;
	border: 1px solid #000;
	border-radius: 25px;
	overflow: hidden;
}
.item-add-form button span {
	z-index: 10;
}
.item-add-form button:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	top: 0;
	left: -100%;
	transition: 0.5s;
	z-index: 5;
}
.item-add-form button:hover {
	color: #fff;
}
.item-add-form button:hover:before {
	left: 0;
}
